<mat-card >
    <mat-card-header>
        <mat-card-title>
            Listado de Choferes
        </mat-card-title>
      </mat-card-header>   
    <mat-card-content class="centrar">
            <mat-form-field appearance="standard">
                <mat-label>Busqueda</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Nombre Terminal" #input>
              </mat-form-field>
              
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 centrar">
            
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                  </ng-container>
              
                <!-- Position Column -->
                <ng-container matColumnDef="nombre">
                  <th mat-header-cell *matHeaderCellDef> Nombre </th>
                  <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="apellido">
                  <th mat-header-cell *matHeaderCellDef> Apellidos </th>
                  <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="genero">
                  <th mat-header-cell *matHeaderCellDef> Genero </th>
                  <td mat-cell *matCellDef="let element"> {{element.genero}} </td>
                </ng-container>
              
                <!-- Symbol Column -->
                <ng-container matColumnDef="direccion">
                  <th mat-header-cell *matHeaderCellDef> Direcion </th>
                  <td mat-cell *matCellDef="let element"> {{element.direccion}} </td>
                </ng-container>
                <ng-container matColumnDef="tipo_sangre">
                    <th mat-header-cell *matHeaderCellDef> Tipo de Sangre </th>
                    <td mat-cell *matCellDef="let element"> {{element.tipo_sangre}} </td>
                  </ng-container>

                  <ng-container matColumnDef="telefono">
                    <th mat-header-cell *matHeaderCellDef> Telefono </th>
                    <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
                  </ng-container>
                  <ng-container matColumnDef="id_terminal">
                    <th mat-header-cell *matHeaderCellDef> Codigo Terminal </th>
                    <td mat-cell *matCellDef="let element"> {{element.id_terminal}} </td>
                  </ng-container>
                  
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              
                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">No existe registro con el valor de la busqueda "{{input.value}}"</td>
                </tr>
              </table>
    </mat-card-content>
</mat-card>

