<mat-card-header>
    <mat-card-title>
        Editar  Chofer
    </mat-card-title>
  </mat-card-header>
<div class="container">
    <form [formGroup]="editarForm" (ngSubmit)="postForm(editarForm.value)">
        <div class="form-group">
            <label for="exampleFormControlInput1">No</label>
            <input type="text" class="form-control" formControlName="id">
        </div>
        <div class="col">
            <label for="exampleFormControlInput1">Nombre</label>
            <input type="text" class="form-control" formControlName="nombre">
        </div>
        <div class="col">
            <label for="exampleFormControlInput1">Apellido</label>
            <input type="text" class="form-control" formControlName="apellido">
        </div>
        <div class="col">
            <label for="exampleFormControlInput1">Genero</label>
            <input type="text" class="form-control" formControlName="genero">
        </div>
        <div class="col">
            <label for="exampleFormControlInput1">Direccion</label>
            <input type="text" class="form-control" formControlName="direccion">
        </div>
        <div class="col">
            <label for="exampleFormControlInput1">Tipo Sangre</label>
            <input type="text" class="form-control" formControlName="tipo_sangre">
        </div>
        <div class="col">
            <label for="exampleFormControlInput1">Telefono</label>
            <input type="text" class="form-control" formControlName="telefono">
        </div>
        <br><br>
        <button mat-raised-button color="primary" type="submit">Guardar</button>
        <a mat-button href="sistema/terminales" target="_blank">Volver</a>
    </form>
</div>
